.main-container {
    .main-area {
        height: calc(100% - 60px)
    }
    #sidebar-wrapper {
        background-color: #f8f9fa;
        padding-right: 0px;
        padding-left: 0px;
        .active-left-menu {
            border-left: #34835b 5px solid !important;
        }

        .left-menu-card {
            border: unset;
            background:  #f8f9fa;
            a {
                text-decoration: none;
            }
            .card-header {
                background-color: unset;
                padding: 0.5rem 1.25rem !important;
                &.active-panel {
                    background-color: #e7edef;
                    &.card-header {
                        padding: 0.5rem 1rem !important;
                    }
                    .card-text {
                        font-weight: bold;
                    }
                }
                .card-text {
                    font-style: normal;
                    font-size: 16px;
                    color: #000;
                }
            }
        }
    }
    .error {
        color: red;
        font-size: 12px;
    }
    &.login {
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: inherit;
        overflow: hidden;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,131,91,1) 83%, rgba(82,201,141,1) 100%);
    }
    .global-section-container {
        width: 100%;
        padding: 0;
        
        .sub-page-header {
            font-size: 32px;
            font-weight: 600;
        }
          
        .sub-page-section-header {
            font-size: 26px;
            font-weight: 600;
        }

        .form-label {
            font-weight: bold;
        }
    }
    .card-stats {
        .card-body{
            background-color: #e7edef;
            .image-icon {
                width: 50px;
            }
            .card-title {
                color: #34835b;
            }
            .card-subtitle {
                color: #2b65bb;
            }
            .card-data {
                font-size: 15px;
            }
            .card-red {
                color: #dc3545;
            }
            .card-blue {
                color: #0d6efd;
            }
            .card-green {
                color: #34835b;
            }
        }
    }
    .grey-background {
        background-color: #f4f6f9;
    } 
    .transaction-heading{
        border-radius: 0.25em;
        text-align: center;
        color: #34835b;
        border: 1px solid #34835b;
        padding: 0.5em;
    }

    .react-bootstrap-table {
        .table {
            font-size: 15px;
            table-layout: auto;

            .table-header {
                background-color: #f4f6f9;
            }
            .react-bootstrap-table-sort-order, .order {
                .caret {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 4px dashed;
                border-top: 4px solid \9;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                }
                
                .dropup, .dropdown {
                position: relative;
                }
                
                .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
                border-top: 0;
                border-bottom: 4px dashed;
                border-bottom: 4px solid \9;
                content: "";
                }
            }
        }
    }

    .header-title {
        color: #1a365d;
        font-size: 28px;
        font-weight: bold;
    }
    .portfolio-detail {
        background-color: black;
        color: #fff;
        .card-subtitle {
            font-size: 12px;
            color: #e7edef;
        }
    }
    .login-card{
        height: 370px;
        margin-top: auto;
        margin-bottom: auto;
        background-color: rgba(0,0,0,0.5) !important;
        .social_icon span{
            font-size: 60px;
            margin-left: 10px;
            color: #34835b;
        }
        .social_icon{
            position: absolute;
            right: 20px;
            top: -45px;
            span:hover{
                color: white;
                cursor: pointer;
            }
        }

        .input-group-text {
            width: 50px;
            background-color: #34835b;
            color: #fff;
            border:0 !important;
            i {
                padding-left: 5px
            }
        }
        .submit-button{
            color: #fff;
            background-color: #34835b;
            border-color: #34835b;
            border-radius: 6px;
            width: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            &:hover{
                color: black;
                background-color: white;
            }
        }
            
        .card-header h3{
            color: white;
        }

        .form-label {
            color: #fff;
        }
            
    }
}

@media only screen and (max-width: 767px) {
    .main-container {
        .global-section-container {
            .w-50-mobile-100,
            .w-25-mobile-100 {
              width: 100%;
              padding: 1.5em;
            }
        }
    }
    .container-width {
      width: 100%;
    }
  
    .mb-hide {
      display: none !important;
    }
  
    .login-width {
      min-width: auto;
    }

    .card-stats {
        .card-body{
            .image-icon {
                width: 35px !important;
            }
        }
    }
}


